Middleware/SOMIOD/XMLValidator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="Application">
		<xs:complexType>
			<xs:all>
				<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Container">
		<xs:complexType>
			<xs:all>
				<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Parent" type="xs:int" minOccurs="0" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Record">
		<xs:complexType>
			<xs:all>
				<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Content" type="xs:string" minOccurs="1" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Notification">
		<xs:complexType>
			<xs:choice>
				<!-- Estrutura para POST -->
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Event">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Endpoint" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(http://|mqtt://).*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Enabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>

				<!-- Estrutura para PUT -->
				<xs:sequence>
					<xs:element name="Enabled" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="1" minOccurs="1">
					<xs:element ref="Application"/>
					<xs:element ref="Container"/>
					<xs:element ref="Record"/>
					<xs:element ref="Notification"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
